<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net45" />
  <package id="CsvHelper" version="2.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Geocentrale.Apps.DataContracts" version="1.6.52" targetFramework="net451" />
  <package id="Geocentrale.Common" version="1.1.63" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>