<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="15.6.0" targetFramework="net45" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Geocentrale.Apps.DataContracts" version="1.6.52" targetFramework="net451" />
  <package id="Geocentrale.Common" version="1.1.63" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor" version="1.8.7" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor.DataSet" version="1.8.7" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor.GeoDataSet" version="1.8.7" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor.LocalizedLabel" version="1.7.12" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor.Relation" version="1.8.7" targetFramework="net451" />
  <package id="Geocentrale.ConfigProcessor.Validations" version="0.2.15" targetFramework="net45" />
  <package id="Geocentrale.Connector" version="1.7.17" targetFramework="net451" />
  <package id="Geocentrale.Controller" version="0.2.8" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.ArcgisServerRestAdaptor" version="1.7.46" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.Common" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.Dataadaptors.Contracts" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.Geometry" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.OgcAdaptor" version="1.7.45" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.PostgreSqlAdaptor" version="1.7.45" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.Resolver" version="1.7.31" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.RuleEngine" version="1.8.2" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.RuleEngine.EvaluatorSpatial" version="1.8.2" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.SimpleDataAdaptor" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.SqlServerAdaptor" version="1.6.6" targetFramework="net451" />
  <package id="Geocentrale.DataAdaptors.SqlServerAdaptor.Geo" version="1.6.6" targetFramework="net451" />
  <package id="Geocentrale.DataOperators" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.Dispatcher" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.ErrorHandling.ResourceErrorResourceProvider" version="0.2.55" targetFramework="net451" />
  <package id="Geocentrale.Filter" version="2.0.36" targetFramework="net451" />
  <package id="Geocentrale.GAValue" version="0.1.8" targetFramework="net451" />
  <package id="Geocentrale.GeoDataOperators" version="1.7.26" targetFramework="net451" />
  <package id="Geocentrale.MapEngine" version="1.7.17" targetFramework="net451" />
  <package id="Geocentrale.Resource.Provider" version="0.1.15" targetFramework="net451" />
  <package id="Geocentrale.TestUtils" version="0.1.17" targetFramework="net451" />
  <package id="Geocentrale.Validation.Contracts" version="0.2.15" targetFramework="net45" />
  <package id="Geocentrale.Validation.Extensions" version="0.2.15" targetFramework="net45" />
  <package id="geocentrale-GDAL" version="1.10.7" targetFramework="net451" />
  <package id="geocentrale-GDAL.Native" version="1.10.7" targetFramework="net451" />
  <package id="GhostScriptSharp" version="1.3.1.4" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.6" targetFramework="net45" />
  <package id="Jint" version="2.8" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Npgsql" version="3.1.8" targetFramework="net451" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.0" requireReinstallation="true" />
  <package id="Telerik.Reporting" version="10.2.16.1026" targetFramework="net451" />
  <package id="UAParser" version="2.1.0.0" targetFramework="net45" />
</packages>