<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <add xdt:Transform="Replace" xdt:Locator="Condition(@name='OerebLaw3Container')" name="OerebLaw3Container" connectionString="" providerName="System.Data.EntityClient" />
  <add xdt:Transform="Replace" xdt:Locator="Condition(@name='LexFindCacheContainer')" name="LexFindCacheContainer" connectionString="" providerName="System.Data.EntityClient" />
  <add xdt:Transform="Replace" xdt:Locator="Condition(@name='RuleEngineContainer')" name="RuleEngineContainer" connectionString="" providerName="System.Data.EntityClient" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Condition(@key='configServerUrl')" key="configServerUrl" value="" />
  </appSettings>

</configuration>